
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <!-- ejsíŒŒì¼(login.ejs) -->

    <form action="/login/local" method="POST" >	<!--ðŸ‘ˆ1ï¸âƒ£ìž…ë ¥í•œ ë°ì´í„°ë¥¼ /login/localë¡œ ì „ì†¡í•©ë‹ˆë‹¤.-->
    
    ID: <input class="col-md-8" type="text" name="username">
    PASSWORD: <input class="col-md-8" type="password" name="password">
    <button type="submit" class="btn">continue</button>
             
    </form>	
    


</body>
</html>
