<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div style="padding-top: 2%;">
            <ul>
                <li style="margin-right: 80%; margin-left: 3%;">Farming</li>
                <li></li>
                <li><a class="glyphicon glyphicon-user" href="http://localhost:2000/login">Log in</a></li>
                <li></li>
            </ul>
        </div>

        </br>

    </header>

</body>
</html>