<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
</style>

</head>
<body style="background-color: antiquewhite;">
    <header>
        <div style="padding-top: 2%;">
            <ul>
                <li style="margin-right: 80%; margin-left: 3%;">Farming</li>
                <li></li>
                <li><a class="glyphicon glyphicon-user" href="http://localhost:2000/login">Log in</a></li>
                <li></li>
            </ul>
        </div>

        </br>
    </header>

    <main>
    <div class="sticky2">

        <div style="margin:auto; background-color: salmon;" class="sticky">
            <ul style="text-align: center;margin-left:auto; margin-right: auto; width:50% ">
                <li style="margin-right: 7%; margin-left: 7%;">Home</li>
                <li style="margin-right: 7%; margin-left: 7%;">Shop</li>
                <li style="margin-right: 7%; margin-left: 7%;">About</li>
                <li style="margin-right: 7%; margin-left: 7%;">Contact</li>
            </ul>
    </div>

    <div class="col-md-8; text-center">
    <div class="dropdown" style="display: inline-block;">
        <button class="dropdown-toggle" id="category" type="button" data-toggle="dropdown">카테고리<span class="caret"></span></button>
        <div class="dropdown-menu" role="menu">
            <a class=dropdown-item>sdf</a>
        </div>
    </div>

    
    <div style="padding-top: 2%; text-align: center;display: inline-block; width: 70%;">
        <input type="search" style="border-radius: 30px; width: 30%; width: 40%; margin-left: -10%;">
    </div>
    </div>

    <div align="center" style="margin-top: 2%;">
        <img src="/image/main_image.png">
    </div>



    <%# for(var i=0; i<16; i++){ %>
        <%# if(typeof result[i]=="undefined"){ %>
            <div class="img_section">no product</div>
        <%# } %>
    <%# } %>

    <% for(var i=0; i<30; i++){ %>
        i<br>
    <% } %>
</div>

    </main>
</body>
</html>