<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

<style>
</style>


</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
    <div class="sticky2" style=" padding-top: -5%;">

        <div style="margin:auto; background-color: black;" class="sticky">
            <ul style="text-align: center;margin-left:auto; margin-right: auto; width:50%; color:white">
                <li style="margin-right: 7%; margin-left: 7%;">Home</li>
                <li style="margin-right: 7%; margin-left: 7%;">Shop</li>
                <li style="margin-right: 7%; margin-left: 7%;">About</li>
                <li style="margin-right: 7%; margin-left: 7%;">Contact</li>
            </ul>
        </div>

        <div class="col-md-8; text-center">     
            <div class="dropdown" style="display: inline-block;">
                <button class="dropdown-toggle" id="category" type="button" data-toggle="dropdown">카테고리<span class="caret"></span></button>
                <div class="dropdown-menu" role="menu">
                    <a class=dropdown-item>과일<br></a>
                    <a class=dropdown-item>채소<br></a>
                    <a class=dropdown-item>곡물<br></a>
                    <a class=dropdown-item>견과<br></a>
                    <a class=dropdown-item>버섯<br></a>
                </div>
            </div>

            
            <div style="padding-top: 2%; text-align: center;display: inline-block; width: 70%;">
                <input type="search" style="border-radius: 30px; width: 30%; width: 40%; margin-left: -10%; border: 1px solid black;">
                <a class="glyphicon glyphicon-search"></a>
            </div>
        </div>

        <div align="center" style="margin-top: 2%; width: 100%; height: 600px;">
            <img src="/image/main_image2.png" style="width: 100%; height: 100%;">
        </div>


        <div class="col-md-8; text-center">
            <% for(var i=0; i<20; i++){ %>
                <% if(result[i]){ %>
                    <div class="col-md-3" style="height: 300px; overflow: hidden;">
                        <%= result[i].title %> <br>
                        <img src="image/uploads/<%= result[i].thumbnail_image %> " alt="등록된 이미지가 없습니다" style="width: 100%;"> <br>
                        <%= result[i].price %> <br>
                    </div>
                <% }else{ %>
                    <div class="col-md-3" style="height: 300px;">
                        등록된 물품이 없습니다.<br>
                    </div>
                <% } %>
            <% } %>
        </div>

        <footer>
            footer
        </footer>
    </div>

    </main>
</body>
</html>