<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    Login to ~~<br>
    <div>
        ID <input type="text"> <br>
        PASSWORD <input type="password"> <br>
        <button type="submit">continue</button>
        <button type="button">Sign Up</button>
    </div>


    <div>
        <a href="/login/kakao"><div>카카오톡으로 로그인</div></a>
    </div>
    <div>
        <a href="/login/naver"><div>네이버로 로그인</div></a>
    </div>
</body>
</html>