<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">

</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
        <div class="container-fulid" align='center' style="background-color: #eeeff3;">
            <img src="/image/mypage_seller_background.png" style="width: 100%;">
            <img src="/image/mypage_seller.png" style="width: 70%;">
        </div>

        <div class="container-fulid">
            <div class="col-md-5" style="border: 1px solid black;">
                <button type="button" class="btn" style="width: 200px; height: 100px;">Go To SELL<br>사업자 회원</button>  <br>
                <p>
                    1. 사업자 회원이란? <br>
                    농부야 회원가입 후 사업자 확인을 거쳐 물품 등록 가능한 회원입니다. 
                </p>
                <p>
                    2. 물품 판매를 위한 <br>
                    수확한 농작물 들을 쉽고 편하게 등록해 보세요.
                </p>
                <p>
                    3. 결제, 배송, 송금까지 안전 <br>
                    농부야 시스템을 통해 판매가 일어난 후 송금까지 모든 과정이 안전하게 조회/관리 됩니다.
                </p>
                <p>
                    4. 다양한 마케팅, 판매활동 지원 <br>
                    각종 판매 리포트, 고객관리 기능, 기획전 진행 등 판매 활동에 필요한 다양한 기능이 제공됩니다.
                </p>
            </div>
        </div>
    </main>
</body>
</html>