<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">  <!--이하3줄 datepicker사용하기 위해 삽입-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/action.js"></script>
</head>
<body>
    <header>
        <%#- include('header') %>
    </header>

    <main>
        <span>물품등록</span>
    <form method="POST" action="/regi_item_ing" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="col-md-2">2</div>

            <div class="col-md-8">
                <div class="col-md-4">
                    <div id='thumbnail_image'></div>
                    <input type="file" name="sell_image" accept="image/*" onchange="thumbnail(this);">
                </div>

                <div class="col-md-8 form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3">제목:</label>
                        <div class="col-md-9">
                            <input type="text" name="title" style="width: 90%;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">가격:</label>
                        <div class="col-md-9">
                            <input type="text" name="price" style="width: 90%;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">카테고리:</label>
                        <div class="col-md-9">
                            <select name="category">
                                <option value="fruit">과일</option>
                                <option value="vegetable">채소</option>
                                <option value="grain">곡물</option>
                                <option value="nut">견과</option>
                                <option value="mushroom">버섯</option>
                            </select>
                            <!-- <input type="text" name="category" style="width: 90%;"> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3">배송시작가능일:</label>
                        <div class="col-md-9">
                            <input type="text" id="datepicker" name="start_date" placeholder="날짜를 선택하세요" style="width: 90%;">
                            <script>
                                $(function(){
                                    $("#datepicker").datepicker({
                                        dateFormat : 'yy-mm-dd'
                                    });
                                })
                            </script>
                        </div>
                    </div>
                </div>
                    
            </div>

            <div class="col-md-2">2</div>

            <div class="col-md-10">
                <p>CONTENT</p>
                <div class="col-md-12">
                    <label class="col-md-4">텍스트로 입력:</label>
                    <div class="col-md-8">
                        <!-- <input type="text" name="content_text" style="width: 90%;"> -->
                        <textarea name="content_text" style="width: 90%; height: 300px;"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <input type="file" name="content_image" accept="image/*" onchange="content_thumbnail(this);">
                    <div id='content_image2'></div>
                </div>

                <div class="col-md-8 col-md-offset-10">
                    <button type="submit" class="btn">판매등록</button>
                </div>

            </div>

        </div>
    </form>
    </main>
</body>
</html>