<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="sticky2">
        <div style="margin-top: 2%;">
            <ul>
                <li style="margin-right: 80%; margin-left: 3%;">Farming</li>
                <li></li>
                <li><a href="http://localhost:2000/login">Log in</a></li>
                <li></li>
            </ul>
        </div>

        </br>

        <div style="margin-top: 2%;">
            <input type="search" style="border-radius: 30px; width: 30%;">
        </div>

        </br>

        <div style="margin:auto" class="sticky">
            <ul style="text-align: center;margin-left:auto; margin-right: auto; width:50% ">
                <li style="margin-right: 7%; margin-left: 7%;">Home</li>
                <li style="margin-right: 7%; margin-left: 7%;">Shop</li>
                <li style="margin-right: 7%; margin-left: 7%;">About</li>
                <li style="margin-right: 7%; margin-left: 7%;">Contact</li>
            </ul>
        </div>
    </div>


</body>
</html>