<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

    <style>
        #header_css{
            height: 50px;
            line-height: 80px;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="header_css">
        <ul>
            <li style="margin-left: 3%;"><a href="http://localhost:2000">농부야</a></li>
            <li style="float: right; margin-right: 2%">
                <%= session %>
            </li>
            <li style="float: right;"><a href="http://localhost:2000/mypage" class="glyphicon glyphicon-heart">mypage</a></li>
            <li style="float: right;">
                <% if(typeof session == "undefined" || JSON.stringify(session) === JSON.stringify({})){ %>
                    <a class="glyphicon glyphicon-user" href="http://localhost:2000/login">LogIn</a>
                <% }else{ %>
                    <a class="glyphicon glyphicon-user" href="http://localhost:2000/logout">LogOut</a>
                <% } %>
            </li>                
            </ul>
    </div>
        </br>

</body>
</html>